.appointments-container {
  max-width: 480px;
  margin: auto;
  padding: 20px;
  background: #fefce8;
}

.date-picker {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.text-start{
  text-align: start;
}

.date-picker-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 48px;
}

.date-picker.cards {
  flex: 1;
  scroll-behavior: smooth;
}

.date-button {
  padding: 14px 28px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.date-button.selected {
  background-color: #d1e7dd;
}
.bold-font{
  font-weight: 600;
}

.time-slots {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.time-slot-button {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.time-slot-button.selected {
  background-color: #d1e7dd;
}

.cards {
  margin: auto;
}

.scroll-button {
  background: #ddd;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  width:40px;
  height: 40px;
}

.scroll-button.left {
  margin-right: 10px;
}

.scroll-button.right {
  margin-left: 10px;
}
